extends template

block name-page
  title Правила 

block nav-bar
  +createMenu('Правила')

block content
    p   
    .main-spase
      .main-element
        p  Правила:
        .add-element
          | Описание правил игры
    .main-spase
      .main-element
        p  Пример:
        .add-element
          | Первый пример игры со сложностью 2
    .main-spase
      .main-element
        p  2й пример: 
        .add-element
          | 2й пример: